[Unit]
Description=Run backup-rotation.service every 24 hours

[Timer]
Unit=backup-rotation.service
OnCalendar=*-*-* 02:00

[Install]
WantedBy=timers.target
