[Unit]
Description=Run backup-rotation.service every 24 hours
Conflicts=shutdown.target reboot.target halt.target
Wants=network-online.target
After=network.target network-online.target

[Timer]
OnCalendar=daily 02:00

[Install]
WantedBy=multi-user.target
